language: php

php:
  - 7.1
  - 7.2

matrix:
  fast_finish: true
  include:
    - php: 7.1
      env: COMPOSER_FLAGS="--prefer-lowest"

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

before_script:
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script: make test
